/src/usbwebserver.exe
/src/phpmyadmin/
/src/php/
/src/lang/
/src/apache2/
/src/mysql/bin/
/src/mysql/share/
/src/mysql/COPYING
/src/mysql/my.ini
/src/mysql/README
/src/mysql/data/auto.cnf
/src/mysql/data/DESKTOP-5DVPA25.err
/src/mysql/data/DESKTOP-5DVPA25.pid
/src/mysql/data/DESKTOP-BQEG4Q1.err
/src/mysql/data/DESKTOP-BQEG4Q1.pid
/src/mysql/data/DESKTOP-OFDP205.err
/src/mysql/data/DESKTOP-OFDP205.pid
/src/mysql/data/ib_logfile0
/src/mysql/data/ib_logfile1
/src/mysql/data/ibdata1
/.idea/
